.footer {
    background-color: #2d2d2d;
    /* Dark background for footer */
    color: #f0f0f0;
    /* Light text color */
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
    color: #b0b0b0;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 10px 0;
}

.footer-section ul li a {
    color: #f0f0f0;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #C26E41;
    /* Change color on hover */
}

.footer-bottom {
    background-color: #333;
    color: #f0f0f0;
    padding: 10px 0;
    font-size: 12px;
    border-top: 1px solid #444;
}