/* WishlistPage.css */
/* Set the background color for the entire page */
html,
body {
    background-color: black;
    /* Set background color to black */
    margin: 0;
    /* Remove default margin */
    height: 100%;
    /* Ensure the body takes the full height */
    color: white;
    /* Set default text color to white */
}

.wishlist-page {
    padding: 50px;
    /* Spacing around the cart page */
    background-color: #000000;
    /* Dark background for the page */
    color: #e0e0e0;
    /* Light text color */
    min-height: 100vh;
}

.product-card {
    margin-bottom: 20px;
    /* Space between cards */
}

.product-actions {
    display: flex;
    justify-content: space-between;
    /* Space between buttons */
}

.btn-danger {
    margin-left: 10px;
    /* Space between buttons */
}

.accordion,
.accordion-body {
    background-color: #333;
    /* Dark background for accordion */
    color: #f0f0f0;
    /* Light text for readability */
}